{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div style="width: 100%; height: 500px; background-image: url('{{ asset("images/admin.png")}}'); background-repeat: no-repeat; background-size: cover;"></div>

<h1>ADMIN</h1>

<h2>Ajoutez une compétence</h2>
{{ form(form) }}

{% endblock %}
