{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<section class="header-contact">
    <div class="div-background">
        
    </div>
</section>

<section id="blog-1" class="wide-60 blog-section division">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">
                <h3 class="h3-lg">Nos derniers articles</h3>
                <p class="p-md">Découvrez les dernières actualités de Teach'r !</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-lg-4">
                <a href="https://blog.teachr.fr/le-credit-dimpot/" target="_blank">
                    <div class="blog-post wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="blog-post-img mb-25">
                            <img class="img-fluid" src="https://blog.teachr.fr/content/images/2020/11/photo-1586486855514-8c633cc6fd38-1.jpeg" alt="blog-post-image">
                        </div>
                        <div class="blog-post-txt">
                            <p class="post-meta">Publié le 24 novembre 2020</p>
                            <h5 class="h5-sm">
                                <a href="https://blog.teachr.fr/le-credit-dimpot/" target="_blank">Le crédit d'impôt, comment ça marche ?</a>
                            </h5>
                            <p>Le crédit d'impôt s'applique pour les services d'aide à la personne rendus à votre domicile. À la différence de la...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://blog.teachr.fr/les-echecs-des-mathematiques-faciles-tout-au-plus-g-h-hardy/" target="_blank">
                    <div class="blog-post wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="blog-post-img mb-25">
                            <img class="img-fluid" src="https://blog.teachr.fr/content/images/2020/11/echecs-1.png" alt="blog-post-image">
                        </div>
                        <div class="blog-post-txt">
                            <p class="post-meta">Publié le 30 novembre 2020</p>
                            <h5 class="h5-sm">
                                <a href="https://blog.teachr.fr/les-echecs-des-mathematiques-faciles-tout-au-plus-g-h-hardy/" target="_blank">" Les échecs...des mathématiques faciles tout au plus. "  G. H. Hardy</a>
                            </h5>
                            <p>Les échecs, ce jeu souvent représenté comme un défi à relever, une logique délicate à maîtriser, un art réservé aux...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://blog.teachr.fr/estonie/" target="_blank">
                    <div class="blog-post wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="blog-post-img mb-25">
                            <img class="img-fluid" src="https://blog.teachr.fr/content/images/2020/03/1_bHU0Yn_nJHJMpxDLneoD8g.jpeg" alt="blog-post-image">
                        </div>
                        <div class="blog-post-txt">
                            <p class="post-meta">Publié le 8 mars 2020</p>
                            <h5 class="h5-sm">
                                <a href="https://blog.teachr.fr/estonie/" target="_blank">Épisode 2 - L'Estonie : Leçon de numérique par le meilleur système éducatif d'Europe</a>
                            </h5>
                            <p>Champions d’Europe. À en croire le dernier classement PISA¹, le pays baltique possède le meilleur système éducatif du...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="more-questions wow fadeInUp" data-wow-delay="1.1s" style="visibility: visible; animation-delay: 1.1s; animation-name: fadeInUp;">
                    <h5 class="h5-xs">
                        <a href="https://blog.teachr.fr" target="_blank">Voir plus d'articles</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
