{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<section class="header-contact">
    <div class="div-background">
        
    </div>
</section>

{% endblock %}
