{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}

<div class="header-gallery">
    <h1 class="title-gallery">Gallerie</h1>
    <p class="para-gallery">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nihil dolorum minima expedita eveniet non, 
        magnam, voluptas, eligendi eaque
    </p>
</div>

<div class="div-photos">

</div>

{% endblock %}
