{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}

<div class="header-gallery">
    <div class="div-background">
        
    </div>
</div>

<div class="div-photos">
    {% for image in images %}
        <div style="margin: 50px; width: 500px; display: inline-block;"><img src="{{ asset("images/" ~ image.url ) }}"></div>
    {% endfor %}
</div>

{% endblock %}
