{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}

<div class="header-gallery">
    <div class="div-background">
        
    </div>
</div>

<div class="div-photos">

</div>

{% endblock %}
