{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="fake fake-color"></div>

<div class="div-profile">
    <div class="block-profile card">
        <div class="row">
            <div class="column col-md-3 img-profile">
                
            </div>
    
            <div class="column col-md-6 header-profile">
                <h1 style="color: rgb(14, 25, 83);">Toiwilou Hassane</h1>
                <span class="poste"><strong>Ingénieur DevOps</strong></span>
                <div class="div-star"><span class="note">6,7</span><span class="full-star"> &#9733;&#9733;&#9733;</span>
                <span class="empty-star">&#9734;&#9734;</span></div>
                <div><span class="number">06 23 52 41 31</span></div>
                <div><span class="email">toiwilouhassane@gmail.com</span></div>
            </div>

            <div class="div-cv column col-md-2">
                <a href="#"><button type="button" class="btn btn-outline-primary">Voir mon CV &raquo;</button></a>
            </div>
        </div>
        <div class="card-deck diagrams">
            <div class="card col-md-5 diagram">
                <div class="text-note"><span>API REST / Laravel / Symfony </span><span class="note-tech">6,7 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"><div class="div-tech1"></div></div>
                <div class="text-note"><span>HTML / CSS / PHP / Git</span><span class="note-tech">7,8 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"><div class="div-tech2"></div></div>
                <div class="text-note"><span>Bootstrap / JavaScript </span><span class="note-tech">6,4 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"><div class="div-tech3"></div></div>
                <div class="text-note"><span>Java SE  </span><span class="note-tech">8,1 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"><div class="div-tech4"></div></div>
                <div class="text-note"><span>Node.js / Express / MongoDB / MySQL </span><span class="note-tech">5,3 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"><div class="div-tech5"></div></div>
                <div class="text-note"><span>ReactJS / jQuery</span><span class="note-tech">3,9 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"><div class="div-tech6"></div></div>
            </div>
            <div class="card diagram">
                <span class="text-note">Notes(%)</span>
                <div class="landmark">
                    <div class="note-skill">
                        <div class="fake-skill"></div>
                    </div>
                    <div class="note-ca">
                        <div class="fake-ca"></div>
                    </div>
                    <div class="note-qi">
                        <div class="fake-qi"></div>
                    </div>
                    <div class="note-qe">
                        <div class="fake-qe"></div>
                    </div>
                    <div class="note-kindness">
                        <div class="fake-kindness"></div>
                    </div>
                    <div class="note-stress">
                        <div class="fake-stress"></div>
                    </div>
                </div>
                <ul class="list-quality">
                    <li><span>Compétences</span></li>
                    <li><span>Capacité d'écoute</span></li>
                    <li><span>Quotient intellectuel</span></li>
                    <li><span>Quotient émotinnel</span></li>
                    <li><span>Gentillesse</span></li>
                    <li><span>Stresse</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="block-profile card">
        <div class="img-profile"></div>
    </div>

    <div class="card-deck block-profile-container">
        <div class="card img-profile block-profile-item">

        </div>
        <div class="card img-profile block-profile-item">

        </div>
    </div>
</div>

{% endblock %}