{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="fake fake-color"></div>

<div class="div-profile">
    <div class="block-profile card">
        <div class="row">
            <div class="column col-md-3 img-profile">
                
            </div>
    
            <div class="column col-md-6 header-profile">
                <h1 style="color: rgb(14, 25, 83);">Toiwilou Hassane</h1>
                <span class="poste"><strong>Ingénieur DevOps</strong></span>
                <div class="div-star"><span class="note">7,3</span><span class="full-star"> &#9733;&#9733;&#9733;</span>
                <span class="empty-star">&#9734;&#9734;</span></div>
                <div><span class="number">06 23 52 41 31</span></div>
                <div><span class="email">toiwilouhassane@gmail.com</span></div>
            </div>

            <div class="div-cv column col-md-2">
                <a href="#"><button type="button" class="btn btn-outline-primary">Voir mon CV &raquo;</button></a>
            </div>
        </div>
        <div class="card-deck diagrams">
            <div class="card col-md-5 diagram">
                <div><span>API REST / Laravel / Symfony / Git</span><span class="note-tech">7,3 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"></div>
                <div><span>HTML / CSS / PHP / MySQL</span><span class="note-tech">7,8 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"></div>
                <div><span>Bootstrap / JavaScript / jQuery </span><span class="note-tech">6,4 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"></div>
                <div><span>Java SE  </span><span class="note-tech">8,1 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"></div>
                <div><span>Node.js / Express / MongoDB </span><span class="note-tech">5,2 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"></div>
                <div><span>ReactJS </span><span class="note-tech">3,9 
                    <span class="small-text">/10</span></span>
                </div>
                <div class="div-note"></div>
            </div>
            <div class="card diagram">

            </div>
        </div>
    </div>

    <div class="block-profile card">
        <div class="img-profile"></div>
    </div>

    <div class="card-deck block-profile-container">
        <div class="card img-profile block-profile-item">

        </div>
        <div class="card img-profile block-profile-item">

        </div>
    </div>
</div>

{% endblock %}