
body {
    background-color: white;
}

.div-background {
    width: 100%;
    height: 100%;
    background-color: rgba(5, 11, 63, 0.8);
}

.card {
    position: static;
}

/* ===== Menu ===== */

.menu {
    height: 150px;
    padding: 0 6%;
    position: absolute;
    width: 100%;
    line-height: 150px;
}

.fixed {
    position: fixed;
    height: 80px;
    line-height: 80px;
    top: 0;
    background-color:rgba(5, 11, 63, 0.5);
    transition: 1s;
}

.fake {
    width: 100%;
    height: 150px;
}

.fake-color {
    background-color: rgb(0, 153, 255);
}

.menu a {
    color: white;
}

.name {
    font-size: 30px;
    font-family: serif;
    font-style: italic;
    line-height: 80px;
}

.block-menu {
    float: right;
}

.name, .block-menu {
    display: inline-block;
}

.menu-item li {
    transform: translateY(1px);
    animation: 2s slideUp ease forwards .5s;
}

.menu-item li a {
    display: block;
}

.menu-item li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: rgba(253, 253, 253, 0.521); 
    transition: all .5s ease;
}
  
.menu-item li:hover:before {
    width: 100%;
}

.menu-item .item {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 110px;
    line-height: 80px;
}

.menu-item li a:hover {
    text-decoration: none;
    color: darkgray;
}

/* ===== Accueil ===== */

.div-home {
    width: 100%;
    background-color: #6d09ff;
    padding: 170px 0 0 9%;
}

.img-index, .text-header-index {
    display: inline-block;
}

.img-index {
    width: 30%;
    text-align: center;
}

.text-header-index {
    width: 50%;
    vertical-align: bottom;
    color: white;
    padding-bottom: 50px;
}

.index-header-title {
    font-size: 60px;
}

.para-header-index {
    text-align: justify;
}

.section-courses-home {
    padding: 100px 12%;
    text-align: center;
    background-color: white;
}

.block-courses-home {
    margin: 100px auto;
}

.block-item {
    height: 300px;
    transition: 0.3s;
    background-image: url('img/bgimagehome.jpg');
}
.block-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.block-item:hover {
    transform: scale(1.1);
}

.block-project-home {
    padding: 100px 15%;
    background-color: #eaeef1;
}

.div-project-home {
    padding: 40px 7%;
}

.title-project-home {
    font-size: 60px;
    margin: 30px auto;
    color: rgb(73, 115, 231);
}

.para-project-home {
    font-size: 20px;
    margin: 30px auto;
    text-align: justify;
}

/* ===== profile ===== */

.div-header-profile {
    width: 100%;
    height: 550px;
    background-image: url('img/img-background-profile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-parcours {
    color: rgba(255, 255, 255, 0.7);
    padding: 180px 20%;
    text-align: center;
}

.title-header-profile {
    font-size: 70px;
}

.para-header-profile {
    font-size: 20px;
}

.row {
    padding: 20px 3%;
}

.column {
    position: static;
}

.block-profile {
    padding: 50px 15%;
}

.img-profile {
    height: 300px;
    background-color: rgb(208, 209, 212);
}

.poste {
    color: rgb(0, 153, 255);
    font-style: italic;
    font-size: 20px;
    margin-left: 10px;
}

.div-star {
    margin: 30px 3px;
}

.note {
    font-size: 40px;
}

.full-star {
    font-size: 35px;
    color: rgb(0, 153, 255);
}

.empty-star {
    font-size: 33px;
    color: rgb(0, 153, 255);
}

.number {
    font-size: 25px;
}

.email {
    color: rgb(0, 153, 255);
    text-decoration: underline;
    font-family: serif;
    font-size: 20px;
}

.div-cv {
    padding: 120px 1%;
}

.header-profile {
    height: 300px;
    padding: 10px 60px;
}

/* Compétences */

.skills-hide {
    display: none;
}

.skills-visible {
    display: block;
    transition: 3s;
}

/* Formations */

.block-formations {
    padding: 70px 0 0 17%;
    background-color: #f3ece8;
}

.div-text-formations {
    text-align: center;
    width: 80%;
    margin-bottom: 80px;
}

.div-formations {
    display: inline-block;
    width: 550px;
}

.div-block {
    height: 180px;
    width: 96%;
}

.div-left, .div-right {
    display: inline-block;
    height: 96%;
    vertical-align: top;
}

.div-left {
    width: 60px;
}

.div-right {
    width: 80%;
    margin-left: 20px;
}

.div-round {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #072DF9;
}

.div-barre {
    width: 10px;
    height: 120px;
    background-color: #072DF9;
    margin: 0 25px;
}

.round-img {
    padding: 14px 11px;
}

/* ------------------------- */

.diagrams {
    margin-top: 40px;
}

.diagram {
    padding: 30px;
    border: 0;
    height: 420px;
    background-color: rgb(245, 252, 245);
}

/* Diagrames horizontals */

.text-note {
    height: 29px;
    font-family: serif;
    font-size: 20px;
}

.note-tech {
    font-size: 25px;
    float: right;
}

.small-text {
    font-size: 15px;
    color: rgb(0, 81, 255);
}

.div-note, .div-tech1, .div-tech2, .div-tech3, .div-tech4, .div-tech5, .div-tech6 {
    height: 8px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.div-note {
    width: 100%;
    background-color: #ddebe9;
}

.div-tech1 {
    width: 67%;
    background-color: rgb(0, 183, 255);
}

.div-tech2 {
    width: 78%;
    background-color: rgb(0, 183, 255);
}

.div-tech3 {
    width: 64%;
    background-color: rgb(0, 183, 255);
}

.div-tech4 {
    width: 81%;
    background-color: rgb(0, 183, 255);
}

.div-tech5 {
    width: 53%;
    background-color: rgb(0, 183, 255);
}

.div-tech6 {
    width: 39%;
    background-color: rgb(0, 183, 255);
}

/* Diagrames verticals */

.landmark {
    padding-left: 6%;
    width: 100%;
    height: 100%;
    margin: 0 15px;
    border-left: 2px solid;
    border-bottom: 2px solid;
}

.note-skill, .note-independence, .note-optimism, .note-organization, .note-ca, .note-qi, .note-qe, .note-leader, .note-stress {
    height: 100%;
    width: 8px;
    display: inline-block;
    margin: 0 3% 0 0;
}

.fake-skill, .fake-independence, .fake-optimism, .fake-organization, .fake-ca, .fake-qi, .fake-qe, .fake-leader, .fake-stress {
    width: 8px;
    background-color: rgb(245, 252, 245);
}

.note-skill {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-skill {
    height: 18%;
}

.note-independence {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-independence {
    height: 35%;
}

.note-optimism {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-optimism {
    height: 40%;
}

.note-organization {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-organization {
    height: 37%;
}

.note-ca {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-ca {
    height: 25%;
}

.note-qi {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-qi {
    height: 33%;
}

.note-qe {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-qe {
    height: 34%;
}

.note-leader {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-leader {
    height: 35%;
}

.note-stress {
    background-color: rgba(25, 0, 255, 0.7);
}

.fake-stress {
    height: 61%;
}

.list-quality li {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    width: 15%;
    text-align: center;
}

.quality {
    writing-mode: vertical-rl;
    margin: 5px 0;
}

.qualities {
    font-size: 20px;
    font-family: serif;
    text-align: right;
}

/* Formations */

.formations {
    margin-top: 30px;
}

.left-formations {
    width: 40%;
    background-color: blueviolet;
}

.round-barre, .paragraph {
    display: inline-block;
}

.round-barre {
    width: 50px;
}

.barre {
    height: 100%;
    width: 100%;
    margin-left: 14px;
    background-color: blue;
}

.round {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius:18px;
    background-color: blue;
}

/* ===== Contact ===== */

.header-contact {
    width: 100%;
    height: 600px;
    background-image: url('img/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-text-contact {
    color: black;
    text-align: center;
}

.title-contact {
    font-size: 70px;
}

.para-contact {
    font-size: 18px;
    margin-bottom: 90px;
}

.block-contact {
    margin: 0;
    height: auto;
    padding: 120px 8%;
    background-color: #eaeef1;
}

.form-contact {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.div-deck {
    margin-bottom: 15px;
}

.send {
    border-radius: 40px;
    background-color: #072DF9;
}

.div-contact {
    padding: 20px;
}

.div-contact div {
    border: 0;
}

.contact-img {
    margin: 10px 0;
}

.contact-img .card {
    margin: 0;
}

.maps {
    margin: 0;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

/* ===== Gallerie ===== */

.header-gallery {
    width: 100%;
    height: 550px;
    background-image: url('img/fond_gallerie.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-gallery {
    font-size: 150px;
}

.para-gallery {
    font-size: 25px;
}

.div-photos {
    margin: 0;
    padding: 60px;
}

/* ===== Footer ===== */

.footer {
    background-color: #08083a;
    color: white;
}

.small-footer {
    background-color: #050530;
}

/* ================== */

.div-content {
    padding: 100px 5%;
    text-align: center;
}

.test-div {
    width: 400px;
    height: 320px;
    background-color: lawngreen;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}